@use "base/mixins" as m;
@use "base/variables" as v;

%a {
    text-transform: uppercase;
    leading-trim: both;
    text-edge: cap;
    color: white;
}

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba($color: white, $alpha: 0.2);
    backdrop-filter: blur(20px);

    @media (min-width: v.$tv) {
        padding-block: m.px-to-vw(30px);
        padding-inline: m.px-to-vw(180px);
    }

    @media (max-width: v.$tv) {}

    &.white_bg{
        background: white;
    }

    &_lines {
        position: fixed;
        bottom: 0;
        z-index: 3;
        height: calc(100vh - m.px-to-vw(150px));
        width: 100%;
        max-width: m.px-to-vw(40px);
        user-select: none;
        -webkit-user-drag: none;
        left: m.px-to-vw(216px);
        
        object-fit: cover;
        object-position: center;
    }

    &_container {
        @include m.flex(space-between);

        a,
        button {
            font-family: 'GothamLight';
        }
    }

    &_logo {
        @media (min-width: v.$tv) {
            max-width: m.px-to-vw(112px);
        }

        @media (max-width: v.$tv) {}
    }

    ul,
    li {
        list-style: none;
    }

    &_navigation {
        mix-blend-mode: difference;

        &--bg {
            @media (min-width: v.$tv) {
                display: none;
            }
        }

        &--list {
            @media (min-width: v.$tv) {
                padding-top: m.px-to-vw(34px);
            }

            @include m.tv {}
        }
    }

    .ul_menu {
        @media (min-width: v.$tv) {
            @include m.flex(center, m.px-to-vw(8px));
        }

        @media (max-width: v.$tv) {
            @include m.flex(center, 4px);
        }

        &>li {
            &>a {
                @extend %a;
                font-weight: 300;
                line-height: normal;

                @media (min-width: v.$tv) {
                    letter-spacing: m.px-to-vw(0.48px);
                    @include m.flex(center, m.px-to-vw(9px));
                    font-size: m.px-to-vw(16px);
                    padding: m.px-to-vw(18.5px) m.px-to-vw(16px);
                }

                @media (max-width: v.$tv) {
                    @include m.flex(center, 5px);
                    font-size: 15px;
                    padding: 14px 11px;
                }

                @include m.transition;

                svg,
                path {
                    @include m.transition;
                }

                svg {
                    @media (min-width: v.$tv) {
                        width: m.px-to-vw(8px);
                    }

                    @include m.tv {
                        width: 6px;
                    }

                    height: auto;
                    object-fit: contain;
                }
            }

            &:first-child {
                &>a {
                    padding-left: 0;
                }
            }

            &:last-child {
                &>a {
                    padding-right: 0;
                }
            }
        }
    }

    &_actions {
        mix-blend-mode: difference;

        @media (min-width: v.$tv) {
            padding-top: m.px-to-vw(34px);
            @include m.flex(flex-end, m.px-to-vw(18px));
        }

        @media (max-width: v.$tv) {
            @include m.flex(flex-end, 12px);
        }

        button {
            background: none;
            border: none;
            @extend %a;

            @media (min-width: v.$tv) {
                padding-block: m.px-to-vw(18.5px);
                padding-inline: 0 m.px-to-vw(16px);
                @include m.flex(center, m.px-to-vw(9px));
                font-size: m.px-to-vw(16px);
                letter-spacing: m.px-to-vw(0.48px);
            }

            @media (max-width: v.$tv) {
                padding-block: 14px;
                padding-inline: 0 11px;
                @include m.flex(center, 5px);
                font-size: 15px;
            }

            svg {
                @media (min-width: v.$tv) {
                    @include m.square(m.px-to-vw(12px));
                }

                @media (max-width: v.$tv) {
                    @include m.square(10px);
                }
            }
        }

        a {
            @include m.btn1;
        }

        svg,
        path {
            @include m.transition;
        }
    }

    &.dark {
        .ul_menu {
            &>li {
                &>a {
                    color: v.$black;

                    svg,
                    path {
                        fill: v.$black;
                    }
                }
            }
        }

        .header {
            &_actions {

                a,
                button {
                    color: v.$black;

                    svg,
                    path {
                        stroke: v.$black;
                    }
                }

                a {
                    border-color: v.$black;
                }
            }
        }
    }

}