@use 'variables' as v;
@use 'mixins' as m;

html{
    overflow-x: hidden;
}

body{
    font-size: 16px;
    background-color: v.$beige;
}

.d-block, picture{
    display: block;
}

.w-100{width: 100%;}
.h-100{height: 100%;}
.wh-100{
    @extend .w-100;
    @extend .h-100;
}

img{
    vertical-align: top;
    height: auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

a, button, input[type="submit"]{
    cursor: pointer;
    @include m.transition;
}

main, section, header, footer, aside{
    width: 100%;
}

a{
    text-decoration: none;
}

textarea, button, input, select, option {
    outline: none;
}

video{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
}

.container {
    max-width: m.px-to-vw(1296px);
    margin-inline: auto;
}

h2 {
    font-weight: 400;
    font-size: m.px-to-vw(60px);
}

h3 {
    font-weight: 400;
    font-size: m.px-to-vw(50px);
}

.text p {
    font-family: v.$gotham_light;
    font-size: m.px-to-vw(17px);
}

.primary_btn {
    max-width: m.px-to-vw(420px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: m.px-to-vw(24px);
    font-family: v.$canela_text;
    padding-bottom: m.px-to-vw(7px);
    text-decoration: none;
    color: v.$light_brown;
    line-height: 140%;
    border-bottom: m.px-to-vw(1px) solid v.$light_brown;
}