@use "base/mixins" as m;
@use "base/variables" as v;

%h2{
    @include m.fz60;
}

.timeline{
    &_head{
        width: 100%;
        margin-inline: auto;
        @media (min-width: v.$tv){
            max-width: m.px-to-vw(715px);
        }
        @include m.tv{
         
        }
        h2{
            @extend %h2;
        }
    }
    
    &_body{
        @include m.splide_arrows;
    }
}

.timecard{
    @media (min-width: v.$tv){
        width: m.px-to-vw(382px);
    }
    @include m.tv{
        
    }

    .round{
        @media (min-width: v.$tv){
            @include m.square(m.px-to-vw(150px));
        }
        @include m.tv{
            @include m.square(110px);
        }
        border-radius: 50%;
        object-fit: cover !important;
    }
    &-grid{
        @media (min-width: v.$tv){
            display: grid;
            grid-template-rows: m.px-to-vw(371px) m.px-to-vw(361px);
            grid-gap: 0;
        }
        @include m.tv{
            
        }

        img{
            max-width: 100%;
        }
        &>*{
            width: 100%;

            &:nth-child(odd){
                @media (min-width: v.$tv){
                    @include m.flex(flex-end, m.px-to-vw(20px));
                    flex-direction: column;
                }
                @include m.tv{
                    @include m.flex(flex-end, 10.6px);
                    flex-direction: column;
                }
            }
            &:nth-child(even){
                @media (min-width: v.$tv){
                    @include m.flex(flex-start, m.px-to-vw(20px));
                    flex-direction: column;
                }
                @include m.tv{
                    @include m.flex(flex-start, 10.6px);
                    flex-direction: column;
                }
            }

        }
        .content{
            p, span{
                opacity: 0.9;
                leading-trim: both;
                text-edge: cap;
                text-align: center;
                font-weight: 600;
                font-style: normal;
    
                @media (min-width: v.$tv){
                    font-size: m.px-to-vw(14px);
                    line-height: m.px-to-vw(19.6px);
                    letter-spacing: m.px-to-vw(0.84px);
                }
                @include m.tv{
                 
                }
            }
            span{
                color: v.$light_brown;
            }
        }
    }
    &-time{
        span{
            text-align: center;
            display: block;
            @include m.h4v2;
            margin-inline: auto;
        }
    }
}