@use "base/mixins" as m;
@use "base/variables" as v;

.blog_section{
    .container {
        max-width: m.px-to-vw(1428px);
        margin-right: m.px-to-vw(180px);
    }
    &-box{
        background: white;
        padding: m.px-to-vw(66px);
        border: m.px-to-vw(1px) solid v.$light_brown;
    }
    &-grid{
        @include m.grid(3, m.px-to-vw(36px) m.px-to-vw(21px));
    }
}

.blog_article{
    width: 100%;
    img, &>*{
        width: 100%;
    }
    &-content{
        padding: m.px-to-vw(36px);
        background: v.$beige;
        border: m.px-to-vw(1px) solid v.$light_brown;

        span, a{
            font-family: v.$gotham_light;
            font-weight: 500;
        }
        span,p {
            opacity: 0.8;
        }
        a {
            opacity: 0.6;
            color: v.$light_brown;
            text-decoration: underline;
        }
        h3{
            @include m.h3v2;
            -webkit-line-clamp: 4;
            padding-block: m.px-to-vw(24px);
        }
        p {
            padding-bottom: m.px-to-vw(32px);
            letter-spacing: 0.84px;
        }
    }
}