@use "base/mixins" as m;
@use "base/variables" as v;

.specialist {
    &_page {
        padding-block: m.px-to-vw(160px);
    }
    &_content {
        display: flex;
        gap: m.px-to-vw(36px);
        h2 {
            font-family: v.$cormorant;
            letter-spacing: m.px-to-vw(-1.8px);
        }
        p {
            letter-spacing: m.px-to-vw(1.02px);
            a {
                color: v.$light_brown;
                text-decoration: underline;
            }
        }
    }
    &_text {
        max-width: m.px-to-vw(770px);
        .primary_btn {
            margin-top: m.px-to-vw(32px);
        }
    }
    &_list {
        padding-top: m.px-to-vw(93px);
    }
    &_row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: m.px-to-vw(30px);
        column-gap: m.px-to-vw(20px);
    }
    &_item {
        border: m.px-to-vw(1px) solid v.$light_brown;
        padding: m.px-to-vw(32px) m.px-to-vw(24px);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            max-height: m.px-to-vw(370px);
        }
        p {
            font-size: m.px-to-vw(24px);
            font-family: v.$gotham_m;
            letter-spacing: 6%;
        }
    }
    &_position {
        font-family: v.$goudy;
        padding-block: m.px-to-vw(95px) m.px-to-vw(50px);
    }
}