@use "base/mixins" as m;
@use "base/variables" as v;

.advertise{
    overflow: hidden;
    @include m.pblock160;
    &_container{
        @include m.container_side;
    }
    h2{
        @include m.fz60;
        text-align: center;
        font-weight: 300;
        @include m.mb96;
    }

    &_form{
        @include m.gform;
    }
}